exclude: '^py_zipkin/encoding/protobuf/zipkin_pb2.py$'
repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-json
        files: \.(bowerrc|jshintrc|json)$
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test
        exclude: tests/test_helpers.py
    -   id: flake8
    -   id: requirements-txt-fixer
-   repo: https://github.com/asottile/reorder_python_imports.git
    rev: v1.9.0
    hooks:
    -   id: reorder-python-imports
        language_version: python2.7
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        exclude: setup.py
        args: [--target-version, py27]
