# coveragepy==5.0 fails with `Safety level may not be changed inside a transaction`
# on python 3.6.0 (xenial)
coverage<5
mock<4  # mock 4.x dropped support for python 2.7
mypy
ordereddict
pytest
pytest-benchmark[histogram]
types-protobuf
